.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.50);
  z-index: 1000;
}

.navbar-logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 70px;
}

.navbar-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  padding-right: 70px;
}

.navbar-link:hover {
  text-decoration: underline;
}
