/* Navigation Bar */

.navHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #0c3e73; /* Updated color */
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    box-sizing: border-box; 
}
.navHeader .logo h1 {
    font-size: 22px;
    font-weight: bold;
    color: white; 
    margin: 0;
    margin-right: 100px;
}
.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-grow: 1; 
    justify-content: flex-end;  
    margin-left: 30px;  
}
.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.navItemDashboard h2,
.navItemPartnerships h2 {
    font-size: 18px; 
    font-weight: bold;
    margin: 0;
    color: white; 
    transition: color 0.3s ease;
    cursor: pointer;
}

.navItemDashboard h2:hover,
.navItemPartnerships h2:hover {
    transform: scale(1.1);
}
.searchIcon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.searchIcon:hover,
.profilePicture:hover {
    transform: scale(1.1);
}
.profilePicture {
    width: 50px; 
    height: 50px;  
    object-fit: contain;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease;
    border-radius: 50%;
}
/* Mobile Styling */
@media (max-width: 800px) {
    .navLinks {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .navItem h1 {
        font-size: 16px;
    }
    .searchIcon,
    .profilePicture {
        width: 25px;
        height: 25px;
    }
}
